.hero-bg {
    /* Ensure this file name matches EXACTLY what is in your assets/images folder */
    background-image: url('../images/hero-bg.jpg'); 
    /* OR if you are using the logo as placeholder: */
    /* background-image: url('../images/sh1.webp'); */
    
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}